.index {
  background-color: #AFD198;
}

.links {
  background-color: #E8EFCF;
  text-align: center;
}

ul {
  display: inline-block;
}

.recipe {
  background-color: #DBA979;
}

.container {
  background-color: #ECCA9C;
}

span {
  text-align: center;
}

a {
  text-align: center;
  display: block;
}

h1 {
  text-align: center;
  font-family: "Lucida Handwriting", sans-serif;
  font-size: 50px;
  font-weight: bold;
}

h2 {
  color: rgb(16, 16, 16);
}

div {
  padding: 10px;
}